.ant-layout-header{
  height: 42px !important;
  line-height: 42px !important;
}

.ant-layout-aside .ant-layout-container{
  margin: 0 16px 0 16px;
}

.ant-pagination{
  margin-top: 15px;
}

.ant-layout-aside .ant-layout-footer{
  padding: 0;
}


.home-row {
  margin-bottom: 20px;
}
.home-title-x {
  text-align: center;
  line-height: 30px;
}


#home{
  .ant-btn-primary{
    margin-bottom: 20px;
  }

  .ant-tag{
    line-height: 26px;
    height: 26px;
  }

  .anticon{
    padding: 3px;
  }

  .ant-tabs-nav .ant-tabs-tab{
    height: auto;
  }

  .ant-form{
    margin-top: 20px;
  }

  .ant-form-item-with-help{
    margin-bottom: 30px;
  }
}